// Mixins

// Clearfix is used to prevent the parent class from collapsing
// when all children are floated
@mixin clearfix {
  &::after {
    content: '';
    clear: both;
    display: table;
  }
}

@mixin style-link-text($color) {
  // Accepts an argument
  text-decoration: none;
  text-transform: uppercase;
  color: $color; // Uses the parameter passed in
}
