/*
COLORS:

Light green: #7ed56f
Medium green: #55c57a
Dark green: #28b485

*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-weight: 16px;
  line-height: 1.7;
  color: #777;
  padding: 30px;
}

.header {
  height: 95vh;
  background-image: linear-gradient(
      to right,
      rgba(126, 213, 111, 0.8),
      rgba(40, 180, 133, 0.8)
    ),
    url('../natours/img/hero.jpg');
  background-size: cover;
  background-position: center;
  position: relative;

  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
}

.logo-box {
  position: absolute;
  top: 40px;
  left: 40px;
}

.logo {
  height: 35px;
}

.text-box {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.heading-primary {
  color: #fff;
  text-transform: uppercase;

  backface-visibility: hidden; // Fixes animation "shake"
  margin-bottom: 60px;
}

.heading-primary-main {
  display: block;
  font-size: 60px;
  font-weight: 300;
  letter-spacing: 35px;

  animation-name: moveInLeft;
  animation-duration: 1.5s;
  animation-timing-function: ease-in-out;
  // animation-iteration-count: 2;
}

.heading-primary-sub {
  display: block;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 17px;

  animation-name: moveInRight;
  animation-duration: 1.5s;
  animation-timing-function: ease-in-out;
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-200px);
  }
  80% {
    transform: translateX(20px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
// For performance, it's best to only animate
// the opacity and transform properties

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(200px);
  }
  80% {
    transform: translateX(-20px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(100px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.btn:link,
.btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 15px 40px;
  display: inline-block;
  border-radius: 100px;
  transition: all 0.2s ease-out;
  position: relative; // Used for pseudo element below
}

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.btn:active {
  transform: translateY(-1px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.btn-white {
  background-color: #fff;
  color: #777;
}

// For hover effect
.btn::after {
  content: ''; // Content is required
  display: inline-block;
  // H & W are properties elements of the child of .btn element
  height: 100%;
  width: 100%;
  border-radius: 100px;
  // To make it look behind the button use absolute positioning
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.4s;
}

// More hover effect
.btn-white::after {
  background-color: #fff;
}

// More hover effect
.btn:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0; // To fade out the background color
}

// Animate hero button
.animate-from-bottom {
  animation-name: moveInBottom;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-delay: 0.75s;
  animation-fill-mode: backwards; // Makes it so element is not visible before animation
}
